<div class="ContainerIcons">
    <div class="Icons">
        <a href="https://github.com/Trophydecoder"> <img src="/assets/git.png" alt="" id="angular"></a>
        <p>Git</p>
    </div>
    <div class="Icons">
        <a href="#"><img src="/assets/gallery.png" alt="" id="angular" ></a>
        <p>Gallery</p>
    </div>
    <div class="Icons">
        <a href="#"><img src="/assets/projects.png" alt="" id="angular"></a>
        <p>Projects</p>
        
    
    </div>
    <div class="Icons">
        <img src="/assets/ANGULAR.png" alt="" id="angular">
        <p>Angular</p>
        
    
    </div>
    <div class="Icons">
        <img src="/assets/ANGULAR.png" alt="" id="angular">
        <p>Angular</p>
        
    
        
        
    
    
</div>