<div class="containercarousel">
  <div class="carousel">
    <h3>Web developer</h3>
    <i class='fas fa-arrow-right' style='font-size:15px'></i>
  </div>
    <div class="maintext">
      <h1>hi I'm <span>Sithembiso</span></h1>
      <p>A passionate self-taught developer who enjoys building dynamic and interactive web applications. 
        I specialize in modern web technologies and always strive to learn more.</p>
        <div class="ButtonContainer">
          <button type="submit"  class="button">Download CV</button>
        </div>
    
  
    </div>
  </div>
    
   