.containercarousel{
  width: 100%;
  background-image: url('/assets/aboutBG.png');
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: beige;
  width: 100%;
}
.carousel p{
  display: none;
}
.carousel  h1{
  font-size: 25px;
  padding-top: 30%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.carousel  h1 span{
color: #fc9700;
}
.button {
  background: #fc9700;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}
.button:hover {
  background:#a56300;
}

@media screen and (min-width: 1024px){
  .containercarousel{
    width: 100%;
    background-image: url('/assets/aboutBG.png');
    height: 89vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .carousel  h1{
    font-size: 80px;
    padding-top: 10%;
    
  }
  .carousel p{
    display: flex;
    width: 50%;
    margin-top: -3%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  

}