
<div class="ContainerWhychooseus">
 <div class="Whychooseus">
    <i class="fas fa-clock"id="text">Hands-On Experience </i>
<p>I often create portfolios , freelance to gain practical knowledge.</p>
            <i class="fas fa-clock"  id="text"> Unique and Flexible Approach</i>
             <p>Develop a unique coding style and problem-solving approach and  adapt quickly to new trends and technologies.</p>
 </div>
 <div class="whychooseusIMG">
    <img src="/assets/devCartoon.png" alt="" id="chooseusimg">
 </div>
 <div class="Whychooseus">
    <i class="fas fa-book" id="text">Problem-Solving Skills</i>
       <p>I learn by tackling real-world challenges and figuring things out on their own.
        They are resourceful, using platforms like Google, Stack Overflow, and GitHub to debug and improve their code.</p>
            <i class="fas fa-clock" id="text"> Continuous Learning Mindset</i>
               <p>Since i don’t follow a traditional curriculum, I constantly seek out new technologies, frameworks, and best practices .</p>
</div>
</div>
