.footer {
  background-color: #c2c2c2; /* Light cream */
    color: #000000;
    padding: 20px;
    text-align: center;
  }
  
  .footer-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-wrap: nowrap;
  }
  
  .footer-logo {
    width: 10%;
    padding: 20px;
    display: none;
  }
  
  .footer-logo img {
    width: 100%;

  }
  
  .footer-links {
    width: 25%;
    padding: 20px;
  }
  
  .footer-links h3 {
    margin-top: 0;
    color: #fc9700;
    text-decoration: none;
  }
  
  .footer-links ul {

    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .footer-links li {
    margin-top: 5%;
  }
  
  .footer-link {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .footer-link:hover {
    color:#7a7a7a;
  }
  
  .footer-social {
    width: 20%;
    padding: 20px;
  }
  
  .footer-social h3 {
    margin-top: 0;
    color: #fc9700;
    text-decoration: none;


  }
  
  .footer-social-link {
    margin-right: 10px;
    font-size: 24px;
    color: #fc9700;
    transition: color 0.2s ease;
  }
  
  .footer-social-link:hover {
    color:#474747;
  }
  
  .footer-copyright {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
    border-top: 1px solid  #fc9700;
  }
  @media screen and (min-width: 1024px){
    .footer-container {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-wrap: nowrap;
      }
      .footer-logo {
        display: flex;
        width: 20%;

      }
      
  }
  