
<div class="bootcamp-container">
    <div class="course-card">
        <div class="course-image" style="background-image: url('/assets/contractor.png');"></div>
        <div class="course-content">
            <span class="course-title">Contractor website
            </span>
            <p class="course-description">Developed a contractor web using AngularJS</p>
            <a href="https://github.com/Trophydecoder" class="start-learning">Github</a>
        </div>
    </div>

    <div class="course-card">
        <div class="course-image" style="background-image: url('/assets/mnisi.png');"></div>
        <div class="course-content">
            <span class="course-title">Construction</span>
            <p class="course-description">Developed a Construction web using AngularJS</p>
            <a href="https://github.com/Trophydecoder" class="start-learning">Github</a>
        </div>
    </div>

    <div class="course-card">
        <div class="course-image" style="background-image: url('/assets/doctor.png');"></div>
        <div class="course-content">
            <span class="course-title">Doctor website</span>
            <p class="course-description">Developed a Doctor web using AngularJS</p>
            <a href="https://github.com/Trophydecoder" class="start-learning">Github</a>
        </div>
    </div>

    <div class="course-card">
        <div class="course-image" style="background-image: url('/assets/security.png');"></div>
        <div class="course-content">
            <span class="course-title">Security</span>
            <p class="course-description">Developed a contractor web using AngularJS</p>
            <a href="https://github.com/Trophydecoder" class="start-learning">Github</a>
        </div>
    </div>
</div>
