<div class="ContainerforHeading">
    <div class="Heading">

        <div class="Welcome">
            <h1>Welcome To My World</h1>
            <p>I'm Sithembiso, a self-taught developer passionate about building efficient and user-friendly applications. With the knowledge in  JavaScript, AngularJS, NodeJS, I love solving problems, learning new tech, and creating impactful projects. Always growing, always coding! <span>These are my projects below</span></p>
    
            </div>
            <div class="Img" >
                <img src="assets/AboutMe.png" class="api" alt="">
        </div>
    </div>
</div>