
<div class="AboutmeContainer">
    <div class="ContainerImage">
        <div class="image">
            <img src="assets/AboutMe.png" alt="" id="cartoon">
    <div class="Aboutme">
        <h1>About Me</h1>
        <p>self-taught developer passionate about building efficient and user-friendly applications. With the knowledge in  JavaScript, AngularJS, NodeJS, I love solving problems, learning new tech, and creating impactful projects. Always growing, always coding!This is waht i use to create Websites here and <span>Those are my projects below!</span></p>
      <div class="boxesContainer">
        <div class="Boxes">
            <p>Angular</p>
            <img src="/assets/ANGULAR.png" alt="" id="angular">
          </div> 
          <div class="Boxes">
            <p>CSS</p>
            <img src="/assets/CSS.png" alt="" id="angular">
        </div> 
        <div class="Boxes">
            <p>JS</p>
            <img src="/assets/JS.png" alt="" id="angular">
    </div>
    <div class="Boxes">
        <p>NodeJS</p>
        <img src="/assets/nodejs.png" alt="" id="node">
    </div>
</div>
